doctype html
html
  head
    title Post List
  body
    h1 #{user.username}'s posts
    ul
      each post in posts
        li 
            p title: #{post.title}
            p content: #{post.content}

    h2 Add New post
    form(action=`/${user.id}` method="POST")
      label(for="title") Title:
      input(type="text" name="title" id="title" required)
      label(for="content") Content:
      input(type="textarea" name="content" id="content" required)
      button(type="submit") Add Post